/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}
/* 初始化标签在所有浏览器中的margin、padding值 */
fieldset,
img {
  border: 0 none;
}
/* 重置fieldset（表单分组）、图片的边框为0*/
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
/* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote,
q {
  quotes: none;
}
/* 重置嵌套引用的引号类型 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* 重置嵌套引用*/
input,
select,
textarea,
button {
  vertical-align: middle;
}
/* 重置表单控件垂直居中*/
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
/* 重置表单button按钮效果 */
body {
  background: #fff;
}
/* 重置body 页面背景为白色 */
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 12px;
  line-height: 1 ;
  font-family: "微软雅黑", "黑体", "宋体";
  color: #666;
}
/* 重置页面文字属性 */
a,
button {
  color: #666;
  text-decoration: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
/* 重置链接a标签 */
a:active,
a:hover {
  text-decoration: none;
}
/* 重置链接a标签的鼠标滑动效果 */
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
/* 重置样式标签的样式 */
caption {
  display: none;
}
/* 重置表格标题为隐藏 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
/* 重置table属性 */
img {
  vertical-align: top;
}
/* 图片在当前行内的垂直位置 */
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0;
}
figure,
article,
hgroup {
  margin: 0;
}
section {
  height: 5.97333333rem;
  width: 100%;
  position: relative;
  padding-bottom: 1.23733333rem;
}
section > a,
section > a > img {
  display: block;
  width: 100%;
  height: 100%;
}
section > .detail {
  display: block;
  width: auto;
  height: 1.23733333rem;
  padding-left: 0.512rem;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1.23733333rem;
  overflow: hidden;
}
section > .detail > font {
  color: #222222;
  font-weight: bold;
}
section > .detail > span {
  color: #929292;
  text-overflow: ellipsis;
}
section > .detail > font,
section > .detail > span {
  font-size: 0.448rem;
}
.shuju {
  height: 4.224rem;
  background: #f9752b;
  padding: 0 0.512rem;
}
.shuju > .shuju_top {
  height: 1.472rem;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  display: -webkit-box;
}
.shuju > .shuju_top > div {
  -webkit-box-flex: 1;
  color: #fff;
  line-height: 1.472rem;
  font-size: 0.61866667rem;
}
.shuju > .chanpin {
  height: 2.73066667rem;
  width: 100%;
  display: -webkit-box;
}
.shuju > .chanpin > div {
  margin-top: 0.72533333rem;
}
.shuju > .chanpin > .chan {
  width: 10.21866667rem;
  border-right: 1px solid #fff;
  height: 1.28rem;
  display: -webkit-box;
}
.shuju > .chanpin > .chan > div {
  height: 100%;
  -webkit-box-flex: 1;
}
.shuju > .chanpin > .chan > div > .title {
  font-size: 0.512rem;
  color: #fff;
  margin-top: -0.14933333rem;
  margin-bottom: 0.42666667rem;
}
.shuju > .chanpin > .chan > div > .prize {
  color: #fff;
  font-size: 0.78933333rem;
}
.shuju > .chanpin > .chan > div:first-child {
  width: 4.26666667rem;
}
.shuju > .chanpin > .shouhuo {
  -webkit-box-flex: 1;
  padding-left: 0.68266667rem;
  height: 100%;
}
.shuju > .chanpin > .shouhuo > .title {
  font-size: 0.512rem;
  color: #fff;
  margin-top: -0.14933333rem;
  margin-bottom: 0.42666667rem;
}
.shuju > .chanpin > .shouhuo > .prize {
  color: #fff;
  font-size: 0.78933333rem;
}
main {
  height: 12.20266667rem;
  width: 100%;
  margin-bottom: 2.06933333rem;
}
main > div.menus {
  height: 4.05333333rem;
  display: -webkit-box;
}
main > div.menus > .content {
  display: block;
  -webkit-box-flex: 1;
  text-align: center;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
main > div.menus > .content > img {
  width: 1.49333333rem;
  margin-top: 0.832rem;
}
main > div.menus > .content > h2 {
  font-size: 0.49066667rem;
  color: #222222;
  position: absolute;
  bottom: 0.85333333rem;
  width: 100%;
  text-align: center;
  font-weight: normal;
}
main > div.menus > .content:last-child {
  border-right: 0;
}
.index_nav {
  width: 100%;
  height: 2.2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  background: #fff;
}
.index_nav > a {
  -webkit-box-flex: 1;
  text-align: center;
  position: relative;
  height: 100%;
  display: block;
}
.index_nav > a > img {
  height: 0.91733333rem;
  display: block;
  margin: 0 auto;
  margin-top: 0.27733333rem;
}
.index_nav > a > strong {
  font-size: 0.448rem;
  position: absolute;
  bottom: 0.192rem;
  width: 100%;
  text-align: center;
  display: block;
}
.index_nav > a:first-of-type > strong {
  color: #F9752B;
}
