main>ul>li.last{border-bottom:1px solid #e0e0e0}
main>ul>.btn{width:3.797rem;height:1.24rem;border-radius:3rem/@num;border:1px solid #e0e0e0;text-align: center;line-height: 1.24rem;float: right;margin-top:0.512rem;}
main>ul{overflow: hidden;}
