/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}
/* 初始化标签在所有浏览器中的margin、padding值 */
fieldset,
img {
  border: 0 none;
}
/* 重置fieldset（表单分组）、图片的边框为0*/
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
/* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote,
q {
  quotes: none;
}
/* 重置嵌套引用的引号类型 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* 重置嵌套引用*/
input,
select,
textarea,
button {
  vertical-align: middle;
}
/* 重置表单控件垂直居中*/
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
/* 重置表单button按钮效果 */
body {
  background: #fff;
}
/* 重置body 页面背景为白色 */
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 12px;
  line-height: 1 ;
  font-family: "微软雅黑", "黑体", "宋体";
  color: #666;
}
/* 重置页面文字属性 */
a,
button {
  color: #666;
  text-decoration: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
/* 重置链接a标签 */
a:active,
a:hover {
  text-decoration: none;
}
/* 重置链接a标签的鼠标滑动效果 */
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
/* 重置样式标签的样式 */
caption {
  display: none;
}
/* 重置表格标题为隐藏 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
/* 重置table属性 */
img {
  vertical-align: top;
}
/* 图片在当前行内的垂直位置 */
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0;
}
figure,
article,
hgroup {
  margin: 0;
}
body {
  background: #efeff4;
}
.container {
  height: 10.38933333rem;
  width: 100%;
  background: url(../img/per_banner.gif) no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.container > .user_tx {
  width: 3.69066667rem;
  height: 3.69066667rem;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 1.23733333rem auto 0.512rem auto;
  overflow: hidden;
}
.container > .user_tx > img {
  width: 100%;
  height: 100%;
}
.container > p {
  font-size: 0.61866667rem;
  color: #fff;
  text-align: center;
}
.container > .user_info {
  height: 2.13333333rem;
  width: 100%;
  background: #af4e01;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  padding: 0.32rem 0;
}
.container > .user_info > div {
  -webkit-box-flex: 1;
  height: 100%;
  padding-left: 1.23733333rem;
}
.container > .user_info > div > p {
  font-size: 0.49066667rem;
  padding-bottom: 0.49066667rem;
}
.container > .user_info > div > mark {
  font-size: 0.93866667rem;
}
.container > .user_info > div > p,
.container > .user_info > div > mark {
  background: transparent;
  color: #fff;
}
.container > .user_info > div:last-of-type {
  border-left: 1px solid #fff;
  padding-left: 0.68266667rem;
}
main {
  background: #fff;
  margin-top: 0.64rem;
  padding: 0 0.512rem 0 0.46933333rem;
  margin-bottom: 2.2rem;
}
main > .user_list {
  display: block;
  height: 1.87733333rem;
  border-bottom: 2px solid #e0e0e0;
  display: -webkit-box;
  line-height: 1.87733333rem;
  width: 100%;
}
main > .user_list > .user_list_tu {
  width: 1.19466667rem;
  height: 100%;
}
main > .user_list > .user_cont {
  font-size: 0.61866667rem;
  color: #222222;
  -webkit-box-flex: 1;
}
main > .user_list > .user_icon {
  width: 0.384rem;
}
main > .user_list > .user_icon > img {
  width: 100%;
  margin-top: 0.576rem;
}
main > .user_list > .user_list_tu img {
  width: 0.72533333rem;
  height: 0.64rem;
  margin-top: 0.576rem;
}
.index_nav {
  width: 100%;
  height: 2.2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  background: #fff;
}
.index_nav > a {
  display: block;
  -webkit-box-flex: 1;
  text-align: center;
  position: relative;
  height: 100%;
}
.index_nav > a > img {
  height: 0.91733333rem;
  display: block;
  margin: 0 auto;
  margin-top: 0.27733333rem;
}
.index_nav > a > strong {
  font-size: 0.448rem;
  position: absolute;
  bottom: 0.192rem;
  width: 100%;
  text-align: center;
  display: block;
}
.index_nav > a:last-child > strong {
  color: #F9752B;
}
